<!DOCTYPE html>
<html>
<head>
<% include ../partials/header.ejs %>
<% require('../pages/funcLib.js'); %>
</head>

<body>
<% include ../partials/nav.ejs %>

<div class="container">
<h2>Database Results</h2>
<% require('../pages/funcLib.js'); %>

<select id ="letter_type" onchange="funcLib.updatePrice()">
    <option value=1>Letters (Stamped)</option>
    <option value=2>Letters (Metered)</option>
    <option value=3>Postcard</option>
    <option value=4>Large Envelopes (Flats)</option>
    <option value=5>First-Class Package Service - Retail</option>
    <option value=6>Keys and Identification Devices</option>
</select>	
<select id="letter_ounce" onchange="funcLib.updatePrice()">
    <option value=1>less than 1 ounce</option>
    <option value=2>less than 2 ounces</option>
    <option value=3>less than 3 ounces</option>
    <option value=3.5>less than 3.5 ounces</option>
    <option value=4>less than 4 ounces</option>
    <option value=5>less than 5 ounces</option>
    <option value=6>less than 6 ounces</option>
    <option value=7>less than 7 ounces</option>
    <option value=8>less than 8 ounces</option>
    <option value=9>less than 9 ounces</option>
    <option value=10>less than 10 ounces</option>
    <option value=11>less than 11 ounces</option>
    <option value=12>less than 12 ounces</option>
    <option value=13>less than 13 ounces</option>
</select>
<!-- <button type="button" onclick="updatedPrice">Price</button> -->
<!-- <select>
    <% results.forEach(function(r) { %>
        <option value="<%= r.max_weight %>">less than <%= r.max_weight %> ounce </option>
    <% }); %>
</select> -->
<!-- <ul>
    <% results.forEach(function(r) { %>
        <li><%= r.postage_id %> - <%= r.postage_name %> - <%= r.max_weight %> - <%= r.price %></li>
    <% }); %>
</ul> -->

</div>

</body>
</html>